/* Universal Rulesets */
html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: azure;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h5 {
  font-weight: bold;
}

/* Banner Ruleset */
.banner {
  height: 30rem;
  width: 100%;
  background: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Header Ruleset */
header {
  position: relative;
  top: 1rem;
  background-color: cadetblue;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-grow: 1;
  color: white;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* Navigation Ruleset */
.navigation {
  display: flex;
}

li {
  margin-left: 2rem;
}

.mobile-navigation {
  display: none;
}

/* Headline Ruleset */
.headline {
  position: relative;
  top: 10rem;
  right: -2rem;
  float: right;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2;
}

/* Services  Ruleset */
.services {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.service {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  text-align: center;
  padding: 0 3rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.img-container img {
  max-width: 5rem;
}

/* Business Info Ruleset */
.business-info {
  display: flex;
}

.info {
  display: flex;
  flex-flow: column;
  width: 35%;
  margin-right: 5%;
}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  color: white;
}

.description {
  margin-top: 1rem;
}

/* Footer Ruleset */
footer {
  margin-top: 5rem;
  padding: 4rem;
}

.logo-black {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.logo-black img {
  margin-right: 1rem;
  height: 1.5rem;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  /* For most tablet sized screens */

  /* Universal Changes */
  .container {
    max-width: 100%;
  }

  /* Banner Changes */

  .banner {
    height: 22rem;
  }

  header {
    position: static;
  }

  /* Headline Changes */
  .headline {
    top: 5rem;
    right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  /* business-info Changes */
  .business-info {
    margin-left: 2.5rem;
  }

  /* Footer Changes */
  .logo-black {
    margin-left: 0;
  }
}

@media only screen and (max-width: 470px) {
  /* For most mobile sized screens */

  /* Banner Changes */
  .banner {
    background-position: 20%;
    height: 17rem;
  }

  .logo span {
    display: none;
  }

  .headline {
    top: 9rem;
    right: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
  }

  /* Navigation Changes with added dropdown menu */
  .navigation {
    display: none;
  }

  .mobile-navigation {
    display: list-item;
  }

  li {
    display: block;
    position: relative;
    transition-duration: 0.5s;
    background-color: cadetblue;
  }

  ul {
    list-style: none;
  }

  li:hover {
    background-color: lightblue;
    cursor: pointer;
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    display: none;
    transition: all 0.5s ease;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
    padding: 0.75rem;
    border-top: 1px solid black;
  }

  /* Services Changes */
  .services {
    margin: 3.77rem 0;
    flex-flow: column;
    align-items: center;
  }

  .service {
    margin: 1.54rem 0;
    font-size: 0.77rem;
  }

  .service span {
    margin-top: -5rem;
  }

  /* business-info Changes */
  .business-info {
    flex-flow: column;
    max-width: 100%;
    margin-left: 0;
  }

  .info {
    width: 100%;
    margin: 0;
  }

  .title {
    width: 89%;
  }

  .description {
    font-size: 0.77rem;
    max-width: 100%;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  /* Footer Changes */
  .logo-black {
    justify-content: center;
  }

  .logo-black span {
    display: none;
  }
}
